 body {
  background-color: #f6efd2
 }
 /*版心*/

 .banner {
  width: 638px;
  height: 898px;
  position: absolute;
  left: 50%;
  margin-left: -319px;
  margin-top: 20px;
 }
 /*头部*/

 .name {
  margin-top: 10px;
  font: 25px micsoft yahei;
  text-align: center;
 }

 .media .media-heading {
  font: 25px bold Simsun, arial, sans-serif;

  margin: 15px 0 0 15px;
 }

 .media .personal {
  width: 124px;
  height: 151px;
  background: url('../img/21.png') no-repeat;
 }
 /*connection*/

 .media .post {
  font: 15px bold Simsun, arial, sans-serif;
  margin: 12px 0 0 15px;
 }

 .blog {
  margin: 5px 0 0 15px;
 }

 .blog .csdn,
 .github,
 .sex {
  padding: 0;
  margin-top: 15px;
 }

 .sex .gender,
 .borth,
 .shenfen {
  text-align: center;
 }

 .learning,
 .hobby {
  font-size: 18px;
 }

 .miaoshu {
  position: absolute;
  left: 100px;
  top: 680px;
  text-align: center;
 }

 .miaoshu .hobby {
  left: 240px;
 }
 /*字体图标*/

 .beizu,
 .address {
  margin-top: 20px;
  line-height: 20px;
 }

 .fa span {
  color: #000;
 }
 /*aboutme*/

 .aboutme,
 .jy {
  font-size: 20px;
  margin: 20px 0;
 }

 .about,
 .jiao {
  margin: 20px 0 0 20px;
  font-size: 14px;
 }

 .learning .college,
 .major,
 .cji,
 .jiangli,
 .jsj,
 .bishai {
  font-size: 14px;
  margin-bottom: 5px;
 }
 /*resume*/

 .resume {
  margin: 15px 0 0 15px;
  font: 15px micsoft yahei;
  color: #000;

  text-align: center;
 }